.git
.gitignore
.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.ipynb
.ipynb_checkpoints/

app/__pycache__/
app/**/__pycache__/
test/

training/mlruns/
training/notebooks/
training/*.xlsx
training/*.db
training/__pycache__/

mlflow.db
